<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform stdoutLogEnabled="true" stdoutLogFile=".\server_logs\node.log" startupTimeLimit="20" processPath="C:\Program Files\nodejs\node.exe" arguments=".\app.js">
            <environmentVariables>
                <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
                <environmentVariable name="NODE_ENV" value="production" />
            </environmentVariables>            
        </httpPlatform>
		<security>
			<requestFiltering>
			<requestLimits maxAllowedContentLength="214783648" />
				<hiddenSegments>
					<add segment="node_modules" />
				</hiddenSegments>
			</requestFiltering>
		</security>
        <!-- <rewrite> -->
            <!-- <rules> -->
                <!-- <rule name="http to https" enabled="true" stopprocessing="true"> -->
					<!-- <match url="(.*)" /> -->
					<!-- <conditions> -->
                        <!-- <add input="{https}" pattern="^off$" /> -->
					<!-- </conditions> -->
					<!-- <action type="redirect" url="https://{http_host}{request_uri}" redirecttype="permanent" /> -->
				<!-- </rule>  -->
            <!-- </rules> -->
        <!-- </rewrite> -->
 		<rewrite>
			<rules>
				<rule name="HTTPS force" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite> 
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
		
	</system.webServer>
</configuration> 