$themes: (
  dark: (
    colorBackground: #232329,
    colorBackgroundBody: #2a2a31,
    colorText: #e4e7ea,
    firstStripBackground: #00678e,
    secondStripBackground: #005d80,
    thirdStripBackground: #00688f,
    fourthStripBackground: #00506e,
    fifthStripBackground: #005f88,
    bodyBackground: #2f353a,
    appHeader: #234155,
    container: #3a4149,
    cardHeader: #004868,
    borderBottom: 1px solid #23282c,
    stripBorder: 1px solid #c8ced3,
    textColor: #c8ced3,
    navItemColor: #73818f,
    dropdown: #73818f,
    navItemBorder: 1px solid transparent,
    naveItemBorderColor: #23282c #23282c #23282c,
    borderShadow: 0 0 0 1px #23282c,
    sideBar: #234155,
    sidebarActive: #1c3446,
    reactTagsInput: #394048,
    reactTagsInputBorder: #23282c,
    placeholder: #c8ced3,
    reactGrid: #2f353a,
    reactGridText: #c8ced3,
    filterDropdown: #2f353a,
    inputFilterDropdown: #73818f,
    gridApplyButton: #3a4149,
    sidebarActiveHover: #1c3446,
    navDropdownCollapse: #73818f,
    filterColor: #1890ff,
    navDropdownCollapseMenu: #234155,
    gridApplyButtonHover: #5ea8d8,
    columnFilterDropdown: #2f353a,
    widgetHeaderColor: #343b41,
    layoutText: #fff,
    badgeColor: #696969,
    buttonColor: #2e343a,
    addFacebutton: #3a4149,
    addFacebuttonborder: #23282c,
    addFacebuttonText: #c8ced3,
    widgetBody: #696969,
    widgetText: #fff,
    antButton: #fff,
    antButtonBorderHover: #282828,
    headerText: #fff,
    loadingText: #000,
    switchToggle: #696969,
    swalButton: #73818f,
    pageBorder: #282828,
    applyButton: #c8ced3,
    gridBorderColor: #3a4149,
    receiptContent: #fff,
    badge-color: #696969,
    gridTopButtons: #73818f,
    dragContentbackground: #696969,
    dragContent: #fff,
    notdragContentbackground: #3a4149,
    notdragContent: #fff,
    custom-select-list-background: #696969,
    closeButton: #fff,
    reorderBodyBackground: #dcdcdc,
    selectDropdownText: #fff,
    receiptdataModal: #000,
    gridbuttonHover: #73818f,
    addContentButton: #d9d9d9,
    formButtonBorder: #343b41,
    sidebar-minimizer: #1c3446,
    inputBorder: #23282c,
    breadcrumbSelect: #282828,
    kpiText: #fff,
    logDownloadButton: #73818f,
    scannedText: #000,
    gridFilterColor: #1890ff,
    cameracard-cardfooter: #284968,
    cameracard-cardheader: #006492,
    dashboard-cardheader: #004868,
    dashboard-cardbody: #1e384c,
    dashboardMain-cardheader: #234155,
    breadcrumbVisited: #8c9ba4,
    breadcrumbActive: #fff,
    pagingArrow: #fff,
    nav-Icons: #fff,
    saleschart-Header: #006492,
    saleschart-Header-Border: #1e384c,
    widgetIcon: #fff,
    widgetComboText: #000,
    widgetComboHoverText: #fff,
    widgetComboHoverTextBackground: #005f88,
    addLocationMapText:#fff,
    addLocationMapBackground:#0C4C6B,
    heatMap:#bfbfbfe0,
    tableCell0-20:#005f88,
    tableCell20-50:#2cc698,
    tableCell50-100:#142531,
    tableCell100Plus:#0f8977
  ),
  dark2: (
    colorBackground: #232329,
    colorBackgroundBody: #2a2a31,
    colorText: #e4e7ea,
    firstStripBackground: #00678e,
    secondStripBackground: #005d80,
    thirdStripBackground: #00688f,
    fourthStripBackground: #00506e,
    fifthStripBackground: #005f88,
    bodyBackground: #2f353a,
    appHeader: #234155,
    container: #3a4149,
    cardHeader: #004868,
    borderBottom: 1px solid #23282c,
    stripBorder: 1px solid #c8ced3,
    textColor: #c8ced3,
    navItemColor: #73818f,
    dropdown: #73818f,
    navItemBorder: 1px solid transparent,
    naveItemBorderColor: #23282c #23282c #23282c,
    borderShadow: 0 0 0 1px #23282c,
    sideBar: #234155,
    sidebarActive: #1c3446,
    reactTagsInput: #394048,
    reactTagsInputBorder: #23282c,
    placeholder: #c8ced3,
    reactGrid: #2f353a,
    reactGridText: #c8ced3,
    filterDropdown: #2f353a,
    inputFilterDropdown: #73818f,
    gridApplyButton: #3a4149,
    sidebarActiveHover: #1c3446,
    navDropdownCollapse: #73818f,
    filterColor: #1890ff,
    navDropdownCollapseMenu: #234155,
    gridApplyButtonHover: #5ea8d8,
    columnFilterDropdown: #2f353a,
    widgetHeaderColor: #343b41,
    layoutText: #fff,
    badgeColor: #696969,
    buttonColor: #2e343a,
    addFacebutton: #3a4149,
    addFacebuttonborder: #23282c,
    addFacebuttonText: #c8ced3,
    widgetBody: #696969,
    widgetText: #fff,
    antButton: #fff,
    antButtonBorderHover: #282828,
    headerText: #fff,
    loadingText: #000,
    switchToggle: #696969,
    swalButton: #73818f,
    pageBorder: #282828,
    applyButton: #c8ced3,
    gridBorderColor: #3a4149,
    receiptContent: #fff,
    badge-color: #696969,
    gridTopButtons: #73818f,
    dragContentbackground: #696969,
    dragContent: #fff,
    notdragContentbackground: #3a4149,
    notdragContent: #fff,
    custom-select-list-background: #696969,
    closeButton: #fff,
    reorderBodyBackground: #dcdcdc,
    selectDropdownText: #fff,
    receiptdataModal: #000,
    gridbuttonHover: #73818f,
    addContentButton: #d9d9d9,
    formButtonBorder: #343b41,
    sidebar-minimizer: #1c3446,
    inputBorder: #23282c,
    breadcrumbSelect: #282828,
    kpiText: #fff,
    logDownloadButton: #73818f,
    scannedText: #000,
    gridFilterColor: #1890ff,
    cameracard-cardfooter: #284968,
    cameracard-cardheader: #006492,
    dashboard-cardheader: #004868,
    dashboard-cardbody: #1e384c,
    dashboardMain-cardheader: #234155,
    breadcrumbVisited: #8c9ba4,
    breadcrumbActive: #fff,
    pagingArrow: #fff,
    nav-Icons: #fff,
    saleschart-Header: #006492,
    saleschart-Header-Border: #1e384c,
    widgetIcon: #fff,
    widgetComboText: #000,
    widgetComboHoverText: #fff,
    widgetComboHoverTextBackground: #005f88,
    addLocationMapText:#fff,
    addLocationMapBackground:#0C4C6B,
    heatMap:#bfbfbfe0,
    tableCell0-20:#005f88,
    tableCell20-50:#2cc698,
    tableCell50-100:#142531,
    tableCell100Plus:#0f8977
  ),
  bacardi: (
    firstStripBackground: #c5b292,
    secondStripBackground: #bca681,
    thirdStripBackground: #b39a70,
    fourthStripBackground: #aa8e60,
    fifthStripBackground: #9d8253,
    bodyBackground: #efede1,
    appHeader: #bca681,
    container: #bca681,
    cardHeader: #aa8e60,
    borderBottom: 1px solid #9d8253,
    stripBorder: 1px solid #c8ced3,
    textColor: #333,
    titleColor: #fff,
    navItemColor: #efede1,
    dropdown: #efede1,
    navItemBorder: 1px solid transparent,
    naveItemBorderColor: #9d8253 #9d8253 #9d8253,
    borderShadow: 0 0 0 1px #9d8253,
    sideBar: #bca681,
    sidebarActive: #756036,
    reactTagsInput: #bca681,
    reactTagsInputBorder: #9d8253,
    placeholder: #333,
    reactGrid: #efede1,
    reactGridText: #333333,
    filterDropdown: #978567,
    inputFilterDropdown: #efede1,
    gridApplyButton: #bca681,
    sidebarActiveHover: #978567,
    navDropdownCollapse: #bca681,
    filterColor: #1890ff,
    navDropdownCollapseMenu: #bca681,
    gridApplyButtonHover: #5ea8d8,
    columnFilterDropdown: #efede1,
    widgetHeaderColor: #aa8e60,
    layoutText: #efede1,
    badgeColor: #c5b292,
    buttonColor: #968567,
    addFacebutton: #bca681,
    widgetBody: #c5b292,
    widgetText: #fff,
    antButton: #fff,
    antButtonBorderHover: #9d8253,
    headerText: #efede1,
    loadingText: #000,
    switchToggle: #c5b292,
    swalButton: #bca681,
    pageBorder: #9d8253,
    applyButton: #333333,
    closeButton: #000000,
    gridBorderColor: #bca681,
    addFacebuttonText: #fff,
    receiptContent: #fff,
    badge-color: #c5b292,
    gridTopButtons: #efede1,
    dragContentbackground: #756036,
    dragContent: #fff,
    notdragContentbackground: #aa8e60,
    notdragContent: #fff,
    custom-select-list-background: #c5b292,
    exchangeButtonBackground: #efede1,
    exchangeBtn: #aa8e60,
    reorderBodyBackground: #d0cbc2,
    selectDropdown: #83745a,
    selectDropdownText: #fff,
    gridbuttonHover: #efede1,
    addContentButton: #756036,
    addContentButtonCircle: #756036,
    formButtonBorder: #aa8e60,
    sidebar-minimizer: #756036,
    customListBackground: #000,
    inputBorder: #aa8e60,
    breadcrumbSelect: #9d8253,
    kpiText: #fff,
    logDownloadButton: #efede1,
    gridFilterColor: #aa8e60,
    breadcrumbVisited: #756036,
    breadcrumbActive: #fff,
    pagingArrow: #fff,
    dashboard-cardbody: #bca681,
    nav-Icons: #fff,
    saleschart-Header: transparent,
    saleschart-Header-Border: transparent,
    widgetIcon: #efede1,
    widgetComboText: #fff,
    widgetComboHoverText: #fff,
    widgetComboHoverTextBackground: #aa8e60,
    addLocationMapText:#fff,
    addLocationMapBackground:#AA8E61,
    heatMap:#c1bcbc,
    tableCell0-20:#efede1,
    tableCell20-50:#bca681,
    tableCell50-100:#756036,
    tableCell100Plus:#12c869
  ),
  cocacola: (
    firstStripBackground: #ffcccc,
    secondStripBackground: #ffb3b3,
    thirdStripBackground: #ff9999,
    fourthStripBackground: #ff8080,
    fifthStripBackground: #ff6666,
    bodyBackground: #e4e5e6,
    appHeader: #fff,
    container: #fff,
    cardHeader: #bf3737,
    borderBottom: 1px solid #e8e8e8,
    stripBorder: 1px solid #e8e8e8,
    textColor: #23282c,
    navItemColor: #fff,
    dropdown: #fff,
    navItemBorder: 1px solid transparent,
    naveItemBorderColor: #fff #fff #fff,
    borderShadow: 0 0 0 1px #fff,
    sideBar: #903e3e,
    sidebarActiveHover: #fa9999,
    titleColor: #fff,
    sidebarActive: #3e0e0e,
    reactTagsInput: #fff,
    reactTagsInputBorder: #e8e8e8,
    placeholder: #23282c,
    reactGrid: #e4e5e6,
    reactGridText: #23282c,
    gridApplyButton: #ffffff,
    navDropdownCollapse: #c75959,
    filterColor: #1890ff,
    navDropdownCollapseMenu: #903e3e,
    gridApplyButtonHover: #5ea8d8,
    columnFilterDropdown: #f1f1f1,
    widgetHeaderColor: #bf3737,
    layoutText: #fff,
    badgeColor: #4dbd74,
    buttonColor: #903e3e,
    addFacebutton: #fff,
    addFacebuttonText: #000,
    widgetBody: #f86c6b,
    widgetText: #fff,
    antButton: #fff,
    antButtonBorderHover: #903e3e,
    headerText: #fff,
    loadingText: #000,
    switchToggle: #f86c6b,
    swalButton: #903e3e,
    pageBorder: #903e3e,
    applyButton: #903e3e,
    closeButton: #000000,
    gridBorderColor: #903e3e,
    receiptContent: #fff,
    badge-color: #4dbd74,
    dragContentbackground: #ff9999,
    dragContent: #fff,
    notdragContentbackground: #bf3737,
    notdragContent: #fff,
    custom-select-list-background: #ff9999,
    exchangeButtonBackground: #652b2b,
    exchangeBtn: #fff,
    reorderBodyBackground: #dcdcdc,
    selectDropdown: #652b2b,
    selectDropdownText: #fff,
    gridbuttonHover: #fff,
    addContentButton: #652b2b,
    addContentButtonCircle: #652b2b,
    formButtonBorder: #bf3737,
    sidebar-minimizer: #3e0e0e,
    customListBackground: #000,
    inputBorder: #bf3737,
    breadcrumbSelect: #ff6666,
    kpiText: #fff,
    logDownloadButton: #903e3e,
    gridFilterColor: #bf3737,
    breadcrumbVisited: #903e3e,
    breadcrumbActive: #bf3737,
    dashboard-cardbody: #fff,
    nav-Icons: #fff,
    saleschart-Header: transparent,
    saleschart-Header-Border: transparent,
    widgetIcon: #fff,
    widgetComboHoverText: #fff,
    widgetComboHoverTextBackground: #bf3737,
    heatMap:#D3D3D3,
    tableCell0-20:#ffffff,
    tableCell20-50:#bf3737,
    tableCell50-100:#ffcccc,
    tableCell100Plus:#12c869
  ),
  starbucks: (
    firstStripBackground: #00db80,
    secondStripBackground: #00c774,
    thirdStripBackground: #00b369,
    fourthStripBackground: #00a05d,
    fifthStripBackground: #008c52,
    bodyBackground: #e4e5e6,
    appHeader: #fff,
    container: #fff,
    cardHeader: #00a05d,
    borderBottom: 1px solid #e8e8e8,
    stripBorder: 1px solid #e8e8e8,
    navItemColor: #fff,
    dropdown: #fff,
    navItemBorder: 1px solid transparent,
    naveItemBorderColor: #fff #fff #fff,
    borderShadow: 0 0 0 1px #fff,
    sideBar: #00653b,
    sidebarActiveHover: #4dbd74,
    titleColor: #fff,
    sidebarActive: #003e24,
    reactTagsInput: #fff,
    reactTagsInputBorder: #e8e8e8,
    placeholder: #23282c,
    reactGrid: #e4e5e6,
    reactGridText: #23282c,
    gridApplyButton: #ffffff,
    navDropdownCollapse: #c75959,
    filterColor: #1890ff,
    navDropdownCollapseMenu: #008c52,
    gridApplyButtonHover: #5ea8d8,
    columnFilterDropdown: #008c52,
    widgetHeaderColor: #00a05d,
    layoutText: #fff,
    badgeColor: #00db80,
    buttonColor: #008c52,
    addFacebutton: #fff,
    addFacebuttonText: #000,
    widgetBody: #00db80,
    widgetText: #fff,
    antButton: #fff,
    antButtonBorderHover: #008c52,
    headerText: #fff,
    loadingText: #000,
    switchToggle: #00db80,
    swalButton: #00653b,
    pageBorder: #008c52,
    applyButton: #008c52,
    eventTypeList: #00db80,
    closeButton: #000000,
    gridBorderColor: #00653b,
    receiptContent: #fff,
    badge-color: #00db80,
    gridTopButtonsText: #00653b,
    dragContentbackground: #00653b,
    dragContent: #fff,
    notdragContentbackground: #00a05d,
    notdragContent: #fff,
    custom-select-list-background: #00db80,
    exchangeButtonBackground: #004729,
    exchangeBtn: #fff,
    reorderBodyBackground: #dcdcdc,
    selectDropdown: #00653b,
    selectDropdownText: #fff,
    gridbuttonHover: #fff,
    addContentButton: #004729,
    addContentButtonCircle: #004729,
    formButtonBorder: #00a05d,
    sidebar-minimizer: #003e24,
    customListBackground: #000,
    inputBorder: #00a05d,
    breadcrumbSelect: #008c52,
    kpiText: #fff,
    logDownloadButton: #00653b,
    gridFilterColor: #00a05d,
    breadcrumbVisited: #003e24,
    breadcrumbActive: #00a05d,
    dashboard-cardbody: #fff,
    nav-Icons: #fff,
    saleschart-Header: transparent,
    saleschart-Header-Border: transparent,
    widgetIcon: #fff,
    widgetComboText: #000,
    widgetComboHoverText: #fff,
    widgetComboHoverTextBackground: #00653b,
    heatMap:#D3D3D3,
    tableCell0-20:#c8ecef,
    tableCell20-50:#70c4ae,
    tableCell50-100:#1ac08c,
    tableCell100Plus:#0f8977
  ),
  light: (
    antButton: #000,
    antButtonBorder: #000,
    loadingText: #000,
    switchToggle: #1890ff,
    swalButton: #1890ff,
    pageBorder: #1890ff,
    applyButton: #1890ff,
    textColor: #000,
    dropdown: #1890ff,
    closeButton: #000000,
    gridBorderColor: #1890ff,
    receiptContent: #000,
    addFacebutton: #c8ced3,
    buttonColor: #2f353a,
    layoutText: #000,
    badge-color: #a6a6a6,
    gridTopButtons: #c8ced3,
    gridTopButtonsText: #000,
    selectDropdown: #c8ced3,
    selectDropdownText: #fff,
    gridbuttonHover: #fff,
    addContentButtonCircle: #c8ced3,
    formButtonBorder: #2f353a,
    customListBackground: #000,
    logDownloadButton: #2f353a,
    gridFilterColor: #1890ff,
    dashboard-cardbody: #fff,
    nav-Icons: #fff,
    saleschart-Header: transparent,
    saleschart-Header-Border: transparent,
    widgetComboHoverText: #fff,
    widgetComboHoverTextBackground: #36a3ff,
    heatMap:#D3D3D3,
    tableCell0-20:#c8ecef,
    tableCell20-50:#70c4ae,
    tableCell50-100:#1ac08c,
    tableCell100Plus:#0f8977
  ),
  hanwha: (
    firstStripBackground: #f8b584,
    secondStripBackground: #f9a87f,
    thirdStripBackground: #f89b6c,
    fourthStripBackground: #ff835a,
    fifthStripBackground: #ff6633,
    bodyBackground: #e4e5e6,
    appHeader: #fff,
    container: #fff,
    cardHeader: #f89b6c,
    borderBottom: 1px solid #e8e8e8,
    stripBorder: 1px solid #e8e8e8,
    navItemColor: #fff,
    dropdown: #fff,
    navItemBorder: 1px solid transparent,
    naveItemBorderColor: #fff #fff #fff,
    borderShadow: 0 0 0 1px #fff,
    sideBar: #f89b6c,
    sidebarActiveHover: #ff6633,
    titleColor: #fff,
    sidebarActive: #ff6633,
    reactTagsInput: #fff,
    reactTagsInputBorder: #e8e8e8,
    placeholder: #23282c,
    reactGrid: #e4e5e6,
    reactGridText: #23282c,
    gridApplyButton: #ffffff,
    navDropdownCollapse: #c75959,
    filterColor: #1890ff,
    navDropdownCollapseMenu: #f89b6c,
    gridApplyButtonHover: #5ea8d8,
    columnFilterDropdown: #f89b6c,
    widgetHeaderColor: #f89b6c,
    layoutText: #fff,
    badgeColor: #f8b584,
    buttonColor: #f89b6c,
    addFacebutton: #fff,
    addFacebuttonText: #000,
    widgetBody: #f8b584,
    widgetText: #fff,
    antButton: #fff,
    antButtonBorderHover: #be4609,
    headerText: #fff,
    loadingText: #000,
    switchToggle: #ff6633,
    swalButton: #ff6633,
    pageBorder: #f89b6c,
    applyButton: #ff6633,
    eventTypeList: #f8b584,
    closeButton: #000000,
    gridBorderColor: #f89b6c,
    receiptContent: #fff,
    badge-color: #ff6633,
    gridTopButtonsText: #f89b6c,
    dragContentbackground: #ff6633,
    dragContent: #fff,
    notdragContentbackground: #f89b6c,
    notdragContent: #fff,
    custom-select-list-background: #f89b6c,
    exchangeButtonBackground: #ff6633,
    exchangeBtn: #fff,
    reorderBodyBackground: #dcdcdc,
    selectDropdown: #ff6633,
    selectDropdownText: #fff,
    gridbuttonHover: #fff,
    addContentButton: #be4609,
    addContentButtonCircle: #be4609,
    formButtonBorder: #f89b6c,
    sidebar-minimizer: #ff6633,
    inputBorder: #f89b6c,
    customListBackground: #000,
    breadcrumbSelect: #ff6633,
    kpiText: #fff,
    logDownloadButton: #f89b6c,
    gridFilterColor: #f89b6c,
    breadcrumbVisited: #ff6633,
    breadcrumbActive: #f89b6c,
    dashboard-cardbody: #fff,
    nav-Icons: #fff,
    saleschart-Header: transparent,
    saleschart-Header-Border: transparent,
    widgetIcon: #fff,
    widgetComboText: #000,
    widgetComboHoverText: #fff,
    widgetComboHoverTextBackground: #f89b6c,
    heatMap:#D3D3D3,
    tableCell0-20:#f9a87f,
    tableCell20-50:#ff835a,
    tableCell50-100:#ff6633,
    tableCell100Plus:#12c869
  ),
  snowwhite: (
    firstStripBackground: #f0ffff,
    secondStripBackground: #cfe1fb,
    thirdStripBackground: #0075a1,
    fourthStripBackground: #0095cc,
    fifthStripBackground: #00dde4,
    bodyBackground: #ffffff,
    appHeader: #fff,
    container: #fff,
    cardHeader: #015889,
    borderBottom: 1px solid #e8e8e8,
    stripBorder: 1px solid #e8e8e8,
    navItemColor: #fff,
    dropdown: #656565,
    navItemBorder: 1px solid transparent,
    naveItemBorderColor: #fff #fff #fff,
    borderShadow: 0 0 0 1px #fff,
    sideBar: #0075a1,
    sidebarActiveHover: #00cae1,
    titleColor: #3a69a9,
    sidebarActive: #00dde4,
    reactTagsInput: #fff,
    reactTagsInputBorder: #e8e8e8,
    placeholder: #23282c,
    reactGrid: #e4e5e6,
    reactGridText: #23282c,
    gridApplyButton: #ffffff,
    navDropdownCollapse: #0075a1,
    filterColor: #0089bd,
    navDropdownCollapseMenu: #00dde4,
    gridApplyButtonHover: #00dde4,
    columnFilterDropdown: #0075a1,
    widgetHeaderColor: #0075a1,
    layoutText: #12468d,
    badgeColor: #f0ffff,
    buttonColor: #0075a1,
    addFacebutton: #fff,
    addFacebuttonText: #000,
    widgetBody: #f0ffff,
    widgetText: #0075a1,
    antButton: #fff,
    antButtonBorderHover: #256b8d,
    headerText: #0075a1,
    loadingText: #000,
    switchToggle: #00dde4,
    swalButton: #00dde4,
    pageBorder: #8fb8f1,
    applyButton: #00dde4,
    eventTypeList: #f0ffff,
    closeButton: #000000,
    gridBorderColor: #0077b7,
    receiptContent: #0075a1,
    badge-color: #0075a1,
    gridTopButtonsText: #0077b7,
    dragContentbackground: #fff,
    dragContent: #0075a1,
    notdragContentbackground: #8fb8f1,
    notdragContent: #0075a1,
    custom-select-list-background: #0077b7,
    exchangeButtonBackground: #0075a1,
    exchangeBtn: #fff,
    reorderBodyBackground: #dcdcdc,
    selectDropdown: #0075a1,
    selectDropdownText: #656565,
    gridbuttonHover: #fff,
    addContentButton: #0075a1,
    addContentButtonCircle: #0075a1,
    formButtonBorder: #0077b7,
    sidebar-minimizer: #256b8d,
    inputBorder: #8fb8f1,
    customListBackground: #000,
    breadcrumbSelect: #256b8d,
    kpiText: #8fb8f1,
    logDownloadButton: #0077b7,
    gridFilterColor: #0077b7,
    breadcrumbVisited: #0075a1,
    breadcrumbActive: #606060,
    dashboard-cardbody: #fff,
    nav-Icons: #fff,
    saleschart-Header: transparent,
    saleschart-Header-Border: transparent,
    widgetIcon: #fff,
    widgetComboText: #000,
    widgetComboHoverText: #0075a1,
    widgetComboHoverTextBackground: #00dde4,
    heatMap:#D3D3D3,
    tableCell0-20:#f0ffff,
    tableCell20-50:#cfe1fb,
    tableCell50-100:#0075a1,
    tableCell100Plus:#00dde4
  ),
geutebruck: (
    firstStripBackground: #313435,
    secondStripBackground: #292929,
    thirdStripBackground: #191b1d,
    fourthStripBackground: #121212,
    fifthStripBackground: #000000,
    bodyBackground: #292929,
    appHeader: #191b1d,
    container: #191b1d,
    cardHeader: #313435,
    borderBottom: 1px solid #707070,
    stripBorder: 1px solid #707070,
    navItemColor: #fff,
    dropdown: #ffd633,
    navItemBorder: 1px solid transparent,
    naveItemBorderColor: #fff #fff #fff,
    borderShadow: 0 0 0 1px #fff,
    sideBar: #000000,
    sidebarActiveHover: #ffd633,
    titleColor: #fff,
    sidebarActive: #ffd633,
    reactTagsInput: #fff,
    reactTagsInputBorder: #707070,
    placeholder: #e8e8e8,
    reactGrid: #e4e5e6,
    reactGridText: #e8e8e8,
    gridApplyButton: #ffffff,
    navDropdownCollapse: #ffd633,
    filterColor: #121212,
    navDropdownCollapseMenu: #ffd633,
    gridApplyButtonHover: #ffd633,
    columnFilterDropdown: #ffd633,
    widgetHeaderColor: #ffd633,
    layoutText: #fff,
    badgeColor: #f0ffff,
    buttonColor: #ffd633,
    addFacebutton: #fff,
    addFacebuttonText: #000,
    widgetBody: #292929,
    widgetText: #fff,
    antButton: #fff,
    antButtonBorderHover: #ffd633,
    headerText: #ffd633,
    loadingText: #000,
    switchToggle: #ffd633,
    swalButton: #ffd633,
    pageBorder: #707070,
    applyButton: #ffd633,
    eventTypeList: #f0ffff,
    closeButton: #000000,
    gridBorderColor: #707070,
    receiptContent: #292929,
    badge-color: #292929,
    gridTopButtonsText: #ffd633,
    dragContentbackground: #fff,
    dragContent: #ffd633,
    notdragContentbackground: #292929,
    notdragContent: #ffd633,
    custom-select-list-background: #ffd633,
    exchangeButtonBackground: #ffd633,
    exchangeBtn: #fff,
    reorderBodyBackground: #dcdcdc,
    selectDropdown: #ffd633,
    selectDropdownText: #121212,
    gridbuttonHover: #fff,
    addContentButton: #ffd633,
    addContentButtonCircle: #ffd633,
    formButtonBorder: #292929,
    sidebar-minimizer: #ffd633,
    inputBorder: #707070,
    customListBackground: #000,
    breadcrumbSelect: #ffffff,
    kpiText: #8fb8f1,
    logDownloadButton: #0077b7,
    gridFilterColor: #0077b7,
    breadcrumbVisited: #ffc52a,
    breadcrumbActive: #ffffff,
    dashboard-cardbody: #fff,
    nav-Icons: #fff,
    saleschart-Header: transparent,
    saleschart-Header-Border: transparent,
    widgetIcon: #fff,
    widgetComboText: #000,
    widgetComboHoverText: #121212,
    widgetComboHoverTextBackground: #ffc52a,
    heatMap:#D3D3D3,
    tableCell0-20:#f0ffff,
    tableCell20-50:#cfe1fb,
    tableCell50-100:#ffc52a,
    tableCell100Plus:#00dde4
  )
);
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}