.theme-snowwhite .headerToolbar-button{color: #8fb8f1 !important;}
.card-body .nav-tabs .nav-item .nav-link{color: #222 !important;}
.theme-snowwhite .nav-tabs .nav-item .nav-link.active, .theme-snowwhite .nav-tabs 

.nav-item .nav-tabs .nav-item.show .nav-link{background-color: #5e8fd2 !important;   

 color: #fff !important;}